@model IEnumerable<Employees.ViewModels.AllProjectsViewModel>

<table class="table table-striped table-hover">
    <tr>
        <th>Employee Id #1</th>
        <th>Employee Id #2</th>
        <th>Project Id</th>
        <th>Days Worked</th>
    </tr>

    @foreach (var vm in Model)
    {
        <tr>
            <td>@vm.EmployeeIds[0]</td>
            <td>@vm.EmployeeIds[1]</td>
            <td>@vm.ProjectId</td>
            <td>@vm.TimeInDays</td>
        </tr>
    }
</table>